@import url('https://fonts.googleapis.com/css2?family=Chewy&display=swap');
body{
    background-color: #ffcc70;
    font-family: 'Chewy', cursive;
    margin: 0;
    padding: 10px 15px;
    color: #2e003e;
}
header{
    background-color: #ff4ecd;
    color: #fff3db;
    text-align: center;
    padding: 30px 20px;
    font-family: 'Monoton', cursive;
    font-size: 2em;
    text-shadow: 3px 3px #8c00ff;
}
main{
    background-color: #fff3db;
    max-width: 800px;
    margin: 20px auto 40px;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 0 25px #da70d6;
}
section{
    margin-bottom: 20px;
}
section h2{
    color: #e6007e;
     font-family: 'Monoton', cursive;
    font-size: 1.8em;
}
section p{
    color: #3c004f;
    font-size: 1.1em;
    line-height: 1.6;
}
#naglasen{
    background-color: #ff7f50;
    padding: 10px;
    border-radius: 10px;
    color: white;
    font-weight: bold;
    box-shadow: 2px 2px 10px #ff1493;
    transition: background-color 0.3s ease;
}
#naglasen:hover {
    background-color: #ff6347;
    cursor: default;
}
footer{
    background-color: #8c00ff;
    color: #ffe3ff;
    padding: 20px;
    text-align: center;
    font-family: 'Rubik Moonrocks', cursive;
    border-top: 5px dotted #ffcc70;
    font-size: 1.1em;
}
footer a {
    color: #ff1493;
    margin: 0 10px;
    font-weight: bold;
    text-decoration: none;
    transition: color 0.3s ease;
}
footer a:hover {
    color: #fff3db;
    text-decoration: underline;
}
section p {
    color: #3c004f;
    font-size: 1.1em;
    line-height: 1.6;
    margin-bottom: 15px;
}
section {
    margin-bottom: 30px;
}
.linkovi nav a {
    align-items: center;
    text-decoration: none;
    margin-left: 15px;
    color: #ff1493;
    font-weight: bold;
    transition: color 0.3s ease;
}
.linkovi nav a:hover {
    text-decoration: underline wavy hotpink;
    color: #8c00ff;
    cursor: pointer;
}